@{
    ViewBag.Title = "Home";
}

<div id="divCtrl" ng-controller="detailsCtrl">

    <div class="bordered-10 new-section-col-2">

        <h2>New detail</h2>

        <form name="newDetail" ng-submit="addDetail(detail)">
            <div class="form-row">
                <div class="col">
                    <label for="code" class="col-form-label">Nomeclature code</label>
                    <input id="code" name="code" type="text" class="form-control" required ng-model="detail.nomenclatureCode" />
                </div>
                <div class="col">
                    <label for="storekeepers" class="col-form-label">Storekeeper</label>
                    <select id="storekeepers" class="form-control" required
                            ng-model="detail.storekeeperId"
                            ng-options="s.Id as (s.Name + ' ' + s.Surname) for s in allStorekeepers">
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="col">
                    <label for="name" class="col-form-label">Name</label>
                    <input id="name" name="name" type="text" class="form-control" required ng-model="detail.name" />
                </div>
                <div class="col">
                    <label for="quantity" class="col-form-label">Quantity</label>
                    <input id="quantity" name="quantity" type="number" min="0" class="form-control" required ng-model="detail.quantity" />
                </div>
            </div>

            <div class="form-group">
                <label for="creationDate" class="col-form-label">Creation date</label>
                <input class="form-control" id="creationDate" data-timepicker="true" />
            </div>

            <button type="submit" id="createDetail" class="btn btn-secondary"><i class="fa fa-plus-circle"></i> Create</button>
        </form>
    </div>

    <hr />

    <div class="row tabled-row">
        <div class="col col-sm-12 card p-0">

            <div id="tableHeader" class="card-header form-inline" data-toggle="collapse" data-target="#detailsTable" aria-expanded="false">
                <i id="panelInd" class="fa fa-plus"></i>
                <h2 style="margin-left: 1%">All details</h2>
            </div>

            <div class="collapse" id="detailsTable">
                <table class="table table-striped table-hover card-body" style="margin-bottom: 0px">
                    <thead class="table-dark">
                        <tr>
                            <th>Nomenclature code</th>
                            <th>Name</th>
                            <th>Quantity</th>
                            <th>Storekeeper name</th>
                            <th>Creation date</th>
                            <th>Delete date</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="d in allDetailsData">
                            <td>{{d.Detail.NomenclatureCode}}</td>
                            <td>{{d.Detail.Name}}</td>
                            <td>{{d.Detail.Quantity}}</td>
                            <td>{{d.Storekeeper.Name}}</td>
                            <td>{{d.Detail.CreationDate}}</td>
                            <td>{{d.Detail.DeleteDate}}</td>
                            <td><a href="#"><i class="fa fa-minus-circle"></i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

@section scripts{

    <script src="~/Scripts/datepicker.min.js"></script>

    <script>

        $(document).ready(function () {

            $("#creationDate").datepicker({
                onSelect: function (fd, date) {
                    var dt = $("#creationDate").val();
                    dt = dt.replace(/\./g, '-').replace(' ', 'T');
                    dt = date.toJSON();
                    angular.element("#divCtrl").scope().setCreationDate(dt);
                }
            });

            $("#storekeepers").change(function () {
                $(this).css("border-color", "rgb(206, 212, 218)");
            });

            var datepicker = $('#creationDate').datepicker().data('datepicker');
            datepicker.selectDate(new Date());

            $("#creationDate").keypress(function (event) {
                event.preventDefault();
                return false;
            });

            $("#createDetail").click(function () {
                if ($("#storekeepers").find(":selected").text().trim() == "") {
                    $("#storekeepers").css("border-color", "red");
                }
            });

            $("#tableHeader").click(function () {
                var i = $("#panelInd");
                if (i.hasClass("fa-minus")) {
                    i.removeClass("fa-minus");
                    i.addClass("fa-plus");
                }
                else {
                    i.removeClass("fa-plus");
                    i.addClass("fa-minus");
                }
            });

        });

    </script>
}