body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



.new-section-col-1 {
    width: 280px;
    margin-top: 2%;
    padding: 10px;
}

.new-section-col-2 {
    width: 600px;
    margin-top: 2%;
    padding: 10px;
}

.bordered-10 {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 10px;
}

#tableHeader {
    cursor: pointer;
}

.quantity-change {
    cursor: pointer;
    color: blue;
    border: 0px;
    outline: 0px;
    background-color: transparent;
}

    .quantity-change:focus {
        outline: 0px;
    }

    .quantity-change:hover {
        color: red;
    }

.tabled-row {
    padding-left: 1%;
    padding-right: 1%;
}

.deleted-row {
    background-color: #f8d8d8 !important;
}

.row {
    margin-top: 2%;
}

thead:hover {
    background-color: #32383e !important;
}

.pagination {
    margin-top: 2%;
}

@media screen and (max-width: 685px) {
    .form-row {
        display: block;
    }

    .new-section-col-2 {
        width: 280px;
    }
}